.upvote, .downvote {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;

  &.active {
    color: #ff0000;
  }

  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

.card {

  h4 {
    font-size: 17px;
  }

  p {
    font-size: 13px;
  }

  #post-body {
    font-size: 10px;
  }
}

.list-group-item {
  font-size: 16px;
}
