.navbar-lewagon {
  justify-content: space-between;
  background: lime;

  .full-name {
    font-size: 14px;
  }

  .h3{
    font-size: 24px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
